<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      img{
        width: 30%;
        height : 30%;
        margin : auto; 
      display: block;     
    }
    </style>
</head>
<body>
  <center>
    <img src="2.png" alt="">
    <h1><b>Data Saved Successfully</b></h1><br>
    <h2><b>एंट्री दर्ज की जा चुकी है</b></h2>
    </center>
</body>
</html>